.wrap {
	display: flex;
	justify-content: center;
	column-gap: 10px;
	perspective: 500px;
	max-width: 0px;

	margin-top: -50px;
}


.wrap-state {
	position: absolute;
	top: 30px;
	left: 0px;

	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: "Montserrat", sans-serif;

	z-index: 2;

	h1 {
		font-family: "Montserrat", sans-serif;
		color: white;
		text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.24);

		font-size: 30px;
		font-weight: bold;
		filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.355));
		margin-bottom: 35px;

		text-align: center;
	}

	b {
		font-size: 30px;
		font-weight: bold;
		filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.405));
		margin-bottom: 50px;
		color: #ffa920;
		text-transform: uppercase;
	}

}

.anim-desk {
	animation: show-desk 1s forwards;
	max-width: unset;
}

.wrap-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 50px;

	max-width: 100vw;

	&.large {
		// grid-template-columns: repeat(4, 1fr);
		// grid-template-rows: repeat(3, 1fr);
		
	}

	&.medium {
		.card {
			width: 220px;
			height: 300px;
		}
	}

	&.small {
		max-width: 1050px;

		.card {
			width: 200px;
			height: 272px;
		}
	}
}

.wrap-votes {
	position: absolute;
	bottom: -30px;
	z-index: 1;
	display: flex;
	justify-content: center;
	column-gap: 4px;
	width: 100%;
	right: 0px;
	transform: rotateY(180deg);
}

.vote {
	width: 20px;
	height: 20px;
	background: #00e9ff;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	box-shadow: -2px 3px 3px 3px #09090929;

	opacity: 0;
	transform: translateY(10px);

	animation: anim-vote .5s var(--i) forwards;
}

@keyframes anim-vote {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes anim-vote-small {
	from {
		opacity: 0;
		transform: translateY(0px);
	}

	to {
		opacity: 1;
		transform: translateY(-8px);
	}
}


@keyframes show-desk {
	0% {
		transform: scale(0)
	}

	100% {
		transform: scale(1);
	}
}

.card.active {
	// -webkit-transform: rotateY(180deg);
	// transform: rotateY(180deg);
	animation: rotate-cards 2s var(--i) forwards;
}

@keyframes rotate-cards {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(180deg);
	}
}

.card {
	-webkit-transition: -webkit-transform 0.7s;
	transition: transform 0.7s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition-delay: var(--i);
}

.card-container {
	user-select: none;
	transition: transform 0.3s;
	border-radius: 10px;

	.stock {
		top: -190px;
		left: -140px;
		position: absolute;
		animation: show-stock 0.8s;
		z-index: 1;
	}

	&:nth-child(2) .stock {
		top: -195px;
		left: -135px;
		z-index: 2;
	}

	&:nth-child(3) .stock {
		top: -200px;
		left: -130px;
		z-index: 3;
	}

	&:nth-child(4) .stock {
		top: -205px;
		left: -125px;
		z-index: 4;
	}

	&:nth-child(5) .stock {
		top: -210px;
		left: -120px;
		z-index: 5;
	}

	&:nth-child(6) .stock {
		top: -215px;
		left: -115px;
		z-index: 6;
	}

	&:nth-child(7) .stock {
		top: -220px;
		left: -110px;
		z-index: 7;
	}

	&:nth-child(8) .stock {
		top: -225px;
		left: -105px;
		z-index: 8;
	}

	&:nth-child(9) .stock {
		top: -230px;
		left: -100px;
		z-index: 9;
	}

	&:nth-child(10) .stock {
		top: -235px;
		left: -95px;
		z-index: 10;
	}
}

@keyframes show-stock {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes show-stock-medium {
	0% {
		transform: translateY(100px) scale(0.8);
	}

	100% {
		transform: translateY(0px) scale(0.8);
	}
}

@keyframes show-stock-small {
	0% {
		transform: translateY(100px) scale(0.7);
	}

	100% {
		transform: translateY(0px) scale(0.7);
	}
}

.front,
.back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-sizing: border-box;
	background-color: white;
}

.front {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card {
	width: 280px;
	height: 380px;
	box-sizing: border-box;
}

.front,
.back {
	box-shadow: 0 1px 6px 0;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	border-radius: 8px;
	overflow: hidden;
}

.back {
	border: 10px solid white;
	background-image: url('/assets/img/dixit/back.webp');
	background-position: center;
	background-size: 100%;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.admin-card {
	box-shadow: 0 0 10px 0 rgb(36, 229, 248);
	animation: anim-admin-card 1.3s infinite;
	z-index: 1;
}

@keyframes anim-admin-card {
	0% {
		-moz-box-shadow: 0 0 10px 0 rgba(36, 229, 248, 0.9);
		box-shadow: 0 0 10px 0 rgba(36, 229, 248, 0.8);
	}

	90% {
		-moz-box-shadow: 0 0 10px 25px rgba(36, 229, 248, 0);
		box-shadow: 0 0 10px 25px rgba(36, 229, 248, 0);
	}

	100% {
		-moz-box-shadow: 0 0 5px 0 rgba(36, 229, 248, 0);
		box-shadow: 0 0 5px 0 rgba(36, 229, 248, 0);
	}
}

button {
	width: 280px;
	height: 35px;
	// background: linear-gradient(158deg, #1f90fff2, #0161aac4) !important;
	// background: #0091ee;
	background-color: white;
	box-shadow: -1px 4px 7px 1px #00000029;
	border-radius: 25px;

	border: 1px solid #0091ee;
	outline: none;

	transition: all .5s;
	position: relative;
    overflow: hidden;

	color: #00658d;
	font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 2px;

	display: flex;
    justify-content: center;
    align-items: center;

	div {
		z-index: 1;
		position: absolute;
	}

	span {
		position: absolute;
		width: 25%;
		height: 100%;
		background-color: #0091ee;
		transform: translateY(150%);
		border-radius: 50%;
		left: calc((var(--n) - 1) * 25%);
		transition: 0.5s;
		transition-delay: calc((var(--n) - 1) * 0.1s);
		z-index: 0;
	}

	&:hover {
		color: white;

		span {
			transform: translateY(0) scale(2);
		}
	}
}

/* Background Colors
================*/

.red {
	background-color: #da0c00;
}

.blue {
	background-color: #003f76;
}

.green {
	background-color: #2ECC40;
}

.yellow {
	background-color: #FFDC00;
}

.orange {
	background-color: #FF851B;
}

.purple {
	background-color: #b200cc;
}

.pink {
	background-color: #f6119a;
}

.brown {
	background-color: #783200;
}

.gray {
	background-color: #dedede;
}

.black {
	background-color: #111111;
}


/* Media queries
====================*/

@media (max-width: 1700px) {
	.wrap-cards {		
		&.medium {
			.card {
				width: 165px;
				height: 225px;
			}
		}
	
		// &.small {
		// 	max-width: 1050px;
	
		// 	.card {
		// 		width: 200px;
		// 		height: 272px;
		// 	}
		}
}

@media (max-width: 1400px) {
	.wrap-cards {		
		&.small {
			.card {
				width: 160px;
				height: 218px;
			}
		}
	}
}

@media (max-width: 1200px) {
	.card-container .stock {
		transform: scale(0.8);
		animation: show-stock-medium 0.8s;
	}

	.wrap-state {
		top: 20px;
	}

	.vote {
		width: 15px;
		height: 15px;

		animation: anim-vote-small .5s var(--i) forwards;
	}

	.wrap-cards {
		&.large {
			.card {
				width: 190px;
				height: 260px;
			}
		}
	
		&.medium {
			row-gap: 40px
		}
	
		&.small {
			max-width: 740px;
	
			.card {
				width: 140px;
				height: 190px;
			}
		}
	}
}

@media (max-width: 800px) {
	.wrap {
		margin-top: 0px;
	}

	.wrap-cards {
		&.large {
			.card {
				width: 160px;
				height: 218px;
			}
		}
	}
}

@media (max-width: 750px) {
	.wrap-cards {
		&.small {
			max-width: 540px;
			row-gap: 35px;

			.card {
				width: 100px;
				height: 136px;
			}
		}
	}
}

@media (max-width: 700px) {
	.wrap-cards {
		&.large {
			max-width: 400px;
			row-gap: 40px;
		}

		&.medium {
			.card {
				width: 130px;
				height: 177px;
			}
		}
	}

	.wrap-state {
		h1 {
			margin-bottom: 20px;
		}

		b {
			margin-bottom: 0px;
		}
	}

	.card-container .stock {
		transform: scale(0.7);
		animation: show-stock-small 0.8s;
	}
}

@media (max-width: 600px) {
	.wrap-state {
		h1 {
			display: none;
		}
	}
	.wrap-cards {
		&.medium {
			.card {
				width: 130px;
				height: 177px;
			}
			
		}
	}
}

@media (max-width: 500px) {
	.wrap-cards {
		&.medium  {
			.card {
				width: 100px;
				height: 136px;
			}
		}
		
	}
}

@media (max-width: 450px) {
	.wrap-cards {
		&.small {
			.card {
				width: 80px;
				height: 110px;
			}
		}
	}
}