<div *ngIf="isWaitForHeader" class="wrap-association">
	<h1>Wait while the admin comes up with an association</h1>
</div>

<div *ngIf="isChooseCard" class="wrap-association">
	<h1>Choose card rely on this association</h1>
	<b>{{ association }}</b>
</div>

<div *ngIf="isRotateCards && !isResults" class="wrap-association">
	<h1 *ngIf="!isHeader">Vote for the map by clicking on it</h1>
	<h1 *ngIf="isHeader">Wait for everyone to vote</h1>
</div>

<div *ngIf="isResults" class="wrap-association">
	<h1 *ngIf="!isEmittedNextRound">Results</h1>
	<button
		*ngIf="!isEmittedNextRound" 
		(click)="moveToNextRound()" 
		activeCursor>
		<div>Next Round</div>
		<span style="--n: 1"></span>
		<span style="--n: 2"></span>
		<span style="--n: 3"></span>
		<span style="--n: 4"></span>
	</button>
	<h1 *ngIf="isEmittedNextRound">Wait for the rest...</h1>
</div>

<div class="wrap" [ngClass]="{'anim-desk': isRotateCards }">
	<ng-template [ngIf]="!isRotateCards">
		<div 
			*ngFor="let card of cardsForBack"
			class="card-container">
			<div 
				class="card stock">
				<div class="front"></div>
				<div class="back"></div>
			</div>
		</div>
	</ng-template>

	<ng-template [ngIf]="isRotateCards">
		<div 
			*ngFor="let card of cards; index as cardIndex"
			class="card-container"
			[ngClass]="{
				'admin-card': isHeaderCard(card),
				'my-card': myCardOnTheDeck === card
			}"
			#cardElement
			(mouseup)="onMouseUp(cardElement, card)"
			(mouseleave)="onMouseLeave(cardElement)"
			(mousedown)="onMouseDown(cardElement, card)">
			<div
				class="card active"
				activeCursor
				[style]="'--i:'+ (+cardIndex - (0.3)*cardIndex) + 's'">
				<div class="wrap-votes" *ngIf="results.length">
					<ng-container *ngFor="let result of results;">
						<ng-template [ngIf]="result.card === card">
							<div
								*ngFor="let color of result.votes; index as voteIndex"
								class="vote"
								[style]="'--i:' + ((0.5) * voteIndex) + 's'"
								[ngClass]="color">
							</div>
						</ng-template>
					</ng-container>
				</div>
				<div class="front">
					<img [src]="pathToDixitCards + card + format" loading="eager">
				</div>
				<div class="back"></div>
			</div>
		</div>
	</ng-template>
</div>