<div  
	[ngSwitch]="state" 
	class="wrap-state">

	<ng-template [ngSwitchCase]="States.WaitForHeader">
		<h1>Wait while the admin comes up with an association</h1>
	</ng-template>

	<ng-template [ngSwitchCase]="States.ChooseCard">
		<h1 class="reverse">Choose card rely on this association</h1>
		<b>{{ association }}</b>
	</ng-template>

	<ng-template [ngSwitchCase]="States.WaitForTheOthersVotes">
		<h1>Wait for the rest...</h1>
	</ng-template>

	<ng-template [ngSwitchCase]="States.ShowCardsAndVoting">
		<h1 class="reverse">Vote for the card by clicking on it</h1>
		<b>{{ association }}</b>
	</ng-template>

	<ng-template [ngSwitchCase]="States.ShowCardsForHeader">
		<h1>Wait for everyone to vote</h1>
	</ng-template>
	
	<ng-template [ngSwitchCase]="States.Results">
		<h1 *ngIf="!isEmittedNextRound">Results</h1>
		<button
			class="next-round"
			*ngIf="!isEmittedNextRound" 
			(click)="moveToNextRound()" 
			activeCursor>
			<div>Next Round</div>
			<span style="--n: 1"></span>
			<span style="--n: 2"></span>
			<span style="--n: 3"></span>
			<span style="--n: 4"></span>
		</button>
		<h1 *ngIf="isEmittedNextRound">Wait for the rest...</h1>
	</ng-template>

</div>


<!-- <div *ngIf="States.WaitForHeader === state" class="wrap-association">
	<h1>Wait while the admin comes up with an association</h1>
</div> -->

<!-- <div *ngIf="States.ChooseCard === state" class="wrap-association">
	<h1>Choose card rely on this association</h1>
	<b>{{ association }}</b>
</div> -->

<!-- <div *ngIf="States.Voting === state" class="wrap-association">
	<h1>Vote for the map by clicking on it</h1>
</div> -->

<!-- <div *ngIf="States.ShowCards === state" class="wrap-association">
	<h1>Wait for everyone to vote</h1>
</div> -->

<!-- <div *ngIf="States.Results === state" class="wrap-association">
	<h1 *ngIf="!isEmittedNextRound">Results</h1>
	<button
		*ngIf="!isEmittedNextRound" 
		(click)="moveToNextRound()" 
		activeCursor>
		<div>Next Round</div>
		<span style="--n: 1"></span>
		<span style="--n: 2"></span>
		<span style="--n: 3"></span>
		<span style="--n: 4"></span>
	</button>
	<h1 *ngIf="isEmittedNextRound">Wait for the rest...</h1>
</div> -->

<div class="wrap" [ngClass]="{'anim-desk': isRotateCards }">
	<ng-template [ngIf]="!isRotateCards">
		<div 
			*ngFor="let card of cardsForBack"
			class="card-container">
			<div 
				class="card stock">
				<div class="front"></div>
				<div class="back"></div>
			</div>
		</div>
	</ng-template>

	<ng-template [ngIf]="isRotateCards">
		<div 
			class="wrap-cards"
			#wrapCards
			[ngClass]="getCardLayoutClass(cards.length)">
			<div 
				*ngFor="let card of cards; index as cardIndex"
				class="card-container"
				[ngClass]="{
					'admin-card': isHeaderCard(card),
					'my-card': myCardOnTheDeck === card
				}"
				#cardElement
				(mouseup)="onMouseUp(cardElement, card)"
				(mouseleave)="onMouseLeave(cardElement)"
				(mousedown)="onMouseDown(cardElement, card)">
				<button
					*ngIf="previewCard === card"
					class="vote-button"
					(click)="onButtonClick(card)"
					mat-raised-button>
					Vote For The Card
				</button>
				<button
					*ngIf="previewCard === card"
					(click)="backToInitialPosition(card)"
					class="close"
					mat-fab>
					<span class="material-symbols-outlined">
						close
					</span>
				</button>
				<div
					class="card active"
					activeCursor
					[style]="'--i:'+ (+cardIndex - (0.3)*cardIndex) + 's'">
					<div class="wrap-votes" *ngIf="results.length">
						<ng-container *ngFor="let result of results;">
							<ng-template [ngIf]="result.card === card">
								<div
									*ngFor="let color of result.votes; index as voteIndex"
									class="vote"
									[style]="'--i:' + ((0.5) * voteIndex) + 's'"
									[ngClass]="color">
								</div>
							</ng-template>
						</ng-container>
					</div>
					<div class="front">
						<img [src]="pathToDixitCards + card + format" loading="eager">
					</div>
					<div class="back"></div>
				</div>
			</div>
		</div>
	</ng-template>
</div>