.wrap {
	width: 250px;
	border-radius: 8px;
	overflow: hidden;
	height: 320px;

	box-shadow: -6px 10px 8px 0px rgb(27 27 27 / 40%);
}

img {
	width: 100%;
	object-fit: contain;
	pointer-events: none;
}