<app-room-waiting-flow 
	*ngIf="state === statesEnum.NotStarted"
	[roomCode]="roomCode"
	[countOfUsers]="countOfUsers"
	(leaveRoom)="leaveRoom()">
</app-room-waiting-flow>

<div 
	*ngIf="state !== statesEnum.NotStarted"
	class="wrap-game-area">
	<app-desk
		[cards]="cardsOnTheDesk"
		[cardsForBack]="cardsForBack"
		[association]="association"
		[results]="results"
		[users]="users"
		[state]="state"
		[myCardOnTheDeck]="myCardOnTheDeck"
		(nextRound)="moveToNextRound()"
		(voteCard)="voteForThisCard($event)">
	</app-desk>

	<app-room-users 
		*ngIf="users"
		[users]="users"
		[isResults]="States.Results === state">
	</app-room-users>

	<app-room-association-input-panel
		*ngIf="States.ChooseCardAsHeader === state"
		(associationChanged)="associationChanged($event)">
	</app-room-association-input-panel>

	<app-hand
		[state]="state"
		[hand]="handCards"
		[isPutDown]="isPutDownHand"
		[cardsOnTheTable]="cardsOnTheDesk"
		(chooseCard)="chooseCard($event)">
	</app-hand>
</div>

<app-admin-panel *ngIf="isAdmin"></app-admin-panel>


<app-room-background-images></app-room-background-images>
