<!-- <div class="wrap-users">
	<table>
		<tr>
			<th>Score</th>
			<th>Nickname</th>
		</tr>
		<tr 
			[class]="'user ' + user.color" 
			*ngFor="let user of users">
			<td>{{ user.score }}</td>
			<td>{{ user.username }}</td>
			<div class="mark" *ngIf="user.isHeader">
				<span class="material-symbols-outlined">
					flag
				</span>
			</div>
		</tr>
	</table>
</div> -->

<main>
	<div id="header">
		<h1>Score</h1>
	</div>
	<div id="leaderboard" >
		<div 
			class="ribbon" 
			[style]="'--i:' + indexOfUserHeader * 40 + 'px'"></div>
		<table>
			<tr 
				*ngFor="let user of users" 
				[ngClass]="{'is-header': user.isHeader}">
				<td class="number">
					<div 
						[class]="'square ' + user.color" 
						[ngClass]="{'watching': isResults && !user.isReadyToNextRound}">
					</div>
				</td>
				<td class="name">{{ user.username }}</td>
				<td class="points">
					{{ user.score }}
				</td>
			</tr>
		</table>
	</div>
</main>