<main [class.hide]="!isShowLeaderBoard">
	<div 
		id="header"
		(click)="toggleLeaderboard()"
		activeCursor>
		<h1>Score</h1>
		<span 
			*ngIf="isShowLeaderBoard" 
			class="material-symbols-outlined">
			visibility_off
		</span>
		<span 
			*ngIf="!isShowLeaderBoard" 
			class="material-symbols-outlined">
			visibility
		</span>
	</div>
	<div 
		id="leaderboard" 
		[class]="{
			'hide': !isShowLeaderBoard,
			'hide-border-radius': indexOfUserHeader === users.length - 1
		}">
		<div 
			class="ribbon" 
			[style]="'--i:' + indexOfUserHeader * 40 + 'px'"></div>
		<table>
			<tr 
				*ngFor="let user of users" 
				[class.is-header]="user.isHeader">
				<td class="number">
					<div 
						[class]="'square ' + user.color" 
						[class.watching]="isResults && !user.isReadyToNextRound">
					</div>
				</td>
				<td class="name">{{ user.username }}</td>
				<td class="points">
					{{ user.score }}
				</td>
			</tr>
		</table>
	</div>
</main>