.wrap-users {
	box-shadow: 0px 0px 5px 5px #1e1e1e0f;
	padding: 10px;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(2px);
	border-radius: 10px;
}

.user {
	font-weight: 500;
	font-weight: 500;
	line-height: 24px;
	font-size: 18px;
	position: relative;
}

.mark {
	position: absolute;
	right: -10px;
	color: gold;
}

th {
	color: #00e9ff;
	font-weight: 500;
	font-size: 16px;

	&:nth-child(2) {
		padding: 0 25px;
	}

	/* margin-right: 15px; */
}

tr {
	text-align: center;
}

/* Colors
================*/

.red {
	background-color: #da0c00;
}

.blue {
	background-color: #003f76;
}

.green {
	background-color: #2ECC40;
}

.yellow {
	background-color: #FFDC00;
}

.orange {
	background-color: #FF851B;
}

.purple {
	background-color: #b200cc;
}

.pink {
	background-color: #f6119a;
}

.brown {
	background-color: #783200;
}

.gray {
	background-color: #dedede;
}

.black {
	background-color: #111111;
}


main {
	width: 200px;
	height: auto;
	background-color: #ecf3f9;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5rem;
	filter: drop-shadow(-10px 10px 8px rgba(8, 8, 8, 0.15));
	transition: all .5s;
	transition-delay: 0s;

	&.hide {
		width: 40px;
		transition-delay: .5s;
		border-radius: 50%;	

		#header {
			span {
				opacity: 1;
			}

			h1 {
				opacity: 0;
			}
		}
	}
}

#header {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;

	span {
		position: absolute;
		opacity: 0;
		transition: all .3s;
		font-size: 28px;
	}

	&:hover {
		h1 {
			opacity: 0;
		}

		span {
			opacity: 1;
		}
	}
}

h1 {
	font-size: 17px;
    color: #141a39;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

#leaderboard {
	width: 100%;
	position: relative;

	transition: all .5s linear;
    height: 100%;
    overflow: hidden;
    padding: 0 20px;
	max-height: 450px;

	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition-delay: .4s;

	&.hide {
		max-height: 0px;
		transition-delay: 0s;
	}

	&.hide-border-radius {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	color: #141a39;
	cursor: default;
}

.square {
	width: 10px;
	height: 10px;
	border-radius: 0%;
	transform: translateX(0);

	transition: all 2s;

	&.watching {
		animation: anim-watching 2s infinite;
		border-radius: 50%;
		transform: translateX(-2px);
	}
}

@keyframes anim-watching {
	0% {
		transform: translateX(-2px);
	}

	50% {
		transform: translateX(8px);
	}

	100% {
		transform: translateX(-2px);
	}
}

tr {
	transition: all 0.2s ease-in-out;
	border-radius: 0.2rem;
}

tr:not(.is-header):hover {
	background-color: #fff;
	transform: scale(1.1);
	box-shadow: 1px 2px 15px 2px #e4e7fb4d;
}

tr:nth-child(odd) {
	background-color: #f9f9f9;
	border-radius: 0.2rem;
}

tr.is-header {
	color: #fff;
}

td {
	height: 20px;
	width: auto;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	padding: 10px;
	position: relative;
}

.number {
	width: 10px;
	font-weight: bold;
	text-align: left;
}

.name {
	text-align: left;
	font-size: 14px;
	width: 50%;
}

.points {
	font-weight: 600;
	font-size: 16px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.points:first-child {
	width: 10rem;
}

.gold-medal {
	height: 3rem;
	margin-left: 1.5rem;
}

.ribbon {
	width: 210px;
    height: 40px;
    top: var(--i);
    // background-color: #5c5be5;
	background-color: #0b7ff7;
    position: absolute;
	left: 15px;
    box-shadow: 0px 15px 11px -6px #7a7a7d82;

	transition: top .5s;
}

@media (max-width: 1000px) {
	main {
		width: 180px;
		overflow: hidden;
	}

	#leaderboard {
		width: 100%;
	}

	.ribbon {
		width: 100%;
	}

	.name {
		width: 105px;
	}
}
